<%- include('../../includes/header') %>
<div class="container-fluid login-container">
  <div class="login-logo">
        <div class="login-img">
            <img src="/img/undraw_medicine_b1ol.png" alt="">
        </div>
  </div>
    <div class="login-card">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Sign In</h1>
                <p class="card-text">Please sign in to continue.</p>
                <% if (locals.messages) { %>
                    <p class="text-danger"><%= messages.error %> </p>
                <% } %>
                <form action="/auth" method="POST">
                    <div class="form-outline mb-4">
                        <input type="text" name="username" id="username" class="form-control" />
                        <label class="form-label" for="userName">Email</label>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="password" class="form-control" />
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Sign In</button>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('../../includes/footer') %>

