<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="input-group">
            <div class="form-outline">
              <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
              <label class="form-label" for="navsearch">Search</label>
            </div>
          </div>
          <table class="table" id="table" >
            <thead>
              <tr class="theadRow">
                <th scope="col" class="th" data-column="id" data-order="desc">
                  ID No.</th>
                <th scope="col" class="th" data-column="name" data-order="desc">
                  Name</th>
                <th scope="col" class="th" data-column="grade" data-order="desc">
                  Grade</th>
                <th scope="col" class="th" data-column="section" data-order="desc">
                    Section</th>
                    <th scope="col" class="th" data-column="action" data-order="desc">
                      Action</th>
            </thead>
            <tbody id="myTable">

            </tbody>
          </table>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>
  </nav>

  