<nav class="navbar navbar-light bg-light form-nav">
  <div class="container">
    <a class="navbar-brand" href="/medical">
      <i class="fa-sharp fa-solid fa-arrow-left p-2"></i>
      <strong>Back</strong>
    </a>
    <strong>SCHOOL HEALTH EXAMINATION FORM</strong>
  </div>
</nav>
