<div class="container-flud">
    <header>
        <!-- Sidebar -->
        <nav
            id="sidebarMenu"
            class="collapse d-lg-block sidebar collapse"
            >
            <div class="position-sticky ">
                <div class="sidebar-logo">
                    <img src="/img/sidebar-logo.png" alt="">
                    <h4>Ramon Enriquez High School</h4>
                </div>
                <div class="list-group list-group-flush mx-3 mt-4">
                    <a
                        href="/dashboard"
                        class="list-group-item list-group-item-action py-2 ripple sidebar-button <%if(path==="dashboard") { %> active <%}%>"
                        data-button="dashboard-button"
                        id="dashboard"
                        >
                        <i class="fas fa-tachometer-alt fa-fw me-3"></i
                        ><span>Dashboard</span>
                    </a>
                    <a
                        href="/students"
                        class="list-group-item list-group-item-action py-2 ripple sidebar-button <%if(path==="students"){ %> active <%}%>"
                        data-button="student-button"
                        id="student"
                        >
                        <i class="fas fa-users me-3"></i
                        ><span>Student</span>
                    </a>
                    <a
                        href="/medical"
                        class="list-group-item list-group-item-action py-2 ripple sidebar-button <%if(path==="medicalRecord"){ %> active <%}%>"
                        data-button="medical-button"
                        id="medical"
                        >
                        <i class="fas fa-users me-3"></i
                        ><span>Medical Record</span>
                    </a>
                    <a
                        href="/patients"
                        class="list-group-item list-group-item-action py-2 ripple sidebar-button <%if(path==="patients"){ %> active <%}%>"
                        data-button="patient-button"
                        id="patient"
                        ><i class="fas fa-clinic-medical me-3"></i><span>Patient</span>
                    </a>
                    <a
                        href="/visitors"
                        class="list-group-item list-group-item-action py-2 ripple sidebar-button <%if(path==="visitors"){ %> active <%}%>"
                        data-button="visitor-button"
                        id="visitor"
                        ><i class="fas fa-user-alt me-3"></i
                        ><span>Visitor</span>
                    </a>
                </div>
            </div>
        </nav>
    <!-- Sidebar -->
    <!-- Navbar -->
        <nav
            id="main-navbar"
            class="navbar navbar-expand-lg fixed-top main-navbar ">
            <!-- Container wrapper -->
            <div class="container-fluid nav">
                <!-- Toggle button -->
                <button
                    class="navbar-toggler text-white"
                    type="button"
                    data-mdb-toggle="collapse"
                    data-mdb-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                    >
                    <i class="fas fa-bars"></i>
                </button>
                <!-- Right links -->
                <ul class="navbar-nav ms-auto d-flex flex-row" style="height: 3rem;">
                    <!-- Notification dropdown -->
                    <!-- Avatar -->
                    <li class="nav-item dropdown ">
                        <a
                            class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
                            href="#"
                            id="navbarDropdownMenuLink"
                            role="button"
                            data-mdb-toggle="dropdown"
                            aria-expanded="false">
                            <p class="text-white pe-2">Ricky Balboa</p>
                            <img
                                src="/img/10027585.jpg"
                                class="rounded-circle mb-3"
                                height="40"
                                alt=""
                                loading="lazy"/>
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <a class="dropdown-item" href="#">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- Container wrapper -->
         </nav>
        <!-- Navbar -->
    </header>
</div>


