<nav class="navbar navbar-light bg-light form-nav">
    <div class="container">
        <a class="navbar-brand" href="/dashboard">
            <i class="fa-sharp fa-solid fa-arrow-left p-2"></i>
            <strong>Back</strong>
        </a>
    </div>
</nav>

