<nav class="navbar navbar-light bg-light form-nav">
    <div class="container-fluid">
      <a class="navbar-brand" href="/dashboard">
        <img
          src="/img/sidebar-logo.png"
          class="me-2"
          height="30"
          alt="MDB Logo"
          loading="lazy"
        />
        <small>Home</small>
      </a>
    </div>
  </nav>

