<header>
  <!-- Sidebar -->
  <nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="sidebar-logo">
      <div class="sidebar-img">
        <img src="/img/sidebar-logo.png" alt="">
      </div>
      <div class="sidebar-title">
        <h5>Ramon Enriquez High School</h5>
      </div>
    </div>

    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           aria-current="true"
           >
          <i class="fas fa-tachometer-alt fa-fw me-3"></i
            ><span>Main dashboard</span>
        </a>
        <a
        <a
        class="list-group-item list-group-item-action py-2 ripple"
        aria-current="true"
        data-mdb-toggle="collapse"
        href="#collapseExample2"
        aria-expanded="true"
        aria-controls="collapseExample2"
      >
      <i class="fas fa-users fa-fw me-3"></i><span>Student</span>
      </a>
      <!-- Collapsed content -->
      <ul id="collapseExample2" class="collapse list-group list-group-flush text-center">
        <li class="list-group-item">
          <a href="" class="text-reset"><i class="fas fa-user-alt fa-fw me-3"></i><span>Grade 7</span></a>
        </li>
        <li class="list-group-item">
          <a href="" class="text-reset"><i class="fas fa-user-alt fa-fw me-3"></i><span>Grade 8</span></a>
        </li>
        <li class="list-group-item">
          <a href="" class="text-reset"><i class="fas fa-user-alt fa-fw me-3"></i><span>Grade 9</span></a>
        </li>
        <li class="list-group-item">
          <a href="" class="text-reset"><i class="fas fa-user-alt fa-fw me-3"></i><span>Grade 10</span></a>
        </li>
        <li class="list-group-item">
          <a href="" class="text-reset"><i class="fas fa-user-alt fa-fw me-3"></i><span>Grade 11</span></a>
        </li>
        <li class="list-group-item">
          <a href="" class="text-reset"><i class="fas fa-user-alt fa-fw me-3"></i><span>Grade 12</span></a>
        </li>
      </ul>
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-user-injured fa-fw me-3"></i><span>Patient</span></a
          >
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-user-alt fa-fw me-3"></i
          ><span>Visitor</span></a
          >
      </div>
    </div>
  </nav>