<div class="container-fluid">
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#addStudentModal">
    Add Patient
  </button>
  

  <!-- Modal -->
  <div class="modal modal-lg fade" id="addStudentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="medicalRecord">
            <div class="search-button">
              <div class="input-group">
                <div class="form-outline">
                  <input type="search" id="navsearch" onkeyup="myFunction()" class="form-control" />
                  <label class="form-label" for="navsearch">Search</label>
                </div>
              </div>
            </div>
            <div class="student-list">
              <table class="table" id="table" >
                <thead>
                  <tr class="theadRow">
                    <th scope="col" class="th" data-column="id" data-order="desc">
                      ID No.</th>
                    <th scope="col" class="th" data-column="name" data-order="desc">
                      Name</th>
                    <th scope="col" class="th" data-column="grade" data-order="desc">
                      Grade</th>
                    <th scope="col" class="th" data-column="section" data-order="desc">
                        Date</th>
                        <th scope="col" class="th" data-column="action" data-order="desc">
                          Action</th>
                </thead>
                <tbody id="myTable">
                    <td data-label="ID No."><a href="/students/record">asdasdasd</a></td>
                    <td data-label="Name">asdasd</td>
                    <td data-label="Grade">8</td>
                    <td data-label="Date">June 28, 1999</td>
                    <td>
                        <button class="btn btn-primary btn-sm  m-1"> <i class="fas fa-eye"></i> Add Student</button>
                    </td>
                </tbody>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>