<div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createPatientModal">
      Create Patient
    </button>
    <!-- asdasdasdasdasdas -->

    <!-- Modal -->
    <div class="modal modal-lg fade" id="createPatientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Patient Form</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="firstname" class="form-control" />
                    <label class="form-label" for="firstname">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="lastname" class="form-control" />
                    <label class="form-label" for="lastname">Last name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="middlename" class="form-control" />
                    <label class="form-label" for="middlename">Middle name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">Grade</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="schoolId" class="form-control" />
                      <label class="form-label" for="schoolId">Section</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">School ID</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">Recommendation</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">Medication</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                      <label class="form-label" for="textAreaExample">Description</label>
                    </div>
                  </div>
                </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-blockmb-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>