<div class="container-fluid">
  <div 
    class="modal modal-lg fade" 
    id="createPatientModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Patient Form</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/patients" id="patientForm">
            <input name="patientId" type="hidden" id="patientId"/>
            <input name="studentId" type="hidden" id="studentId"/>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="firstName" type="text" id="firstName" class="form-control" required/>
                    <label class="form-label" for="firstname">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="lastName" type="text" id="lastName" class="form-control" required/>
                    <label class="form-label" for="lastName">Last name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="middleName" type="text" id="middleName" class="form-control" required/>
                    <label class="form-label" for="middleName">Middle name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <select name="grade" id="patientGrade" class="select form-select-btn" required  >
                    <option value="" disabled selected hidden>Grade Level</option>
                    <option value="Grade 7">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10">Grade 10</option>
                    <option value="Grade 11">Grade 11</option>
                    <option value="Grade 12">Grade 12</option>
                  </select>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col form-col">
                  <select id="section"name="section" class="select form-select-btn" required>
                    <option value="" disabled selected hidden>Section</option>
                    <option value="G7 - Humility">G7 - Humility</option>
                    <option value="G7 - Kindness">G7 - Kindness</option>
                    <option value="G7 - Peace">G7 - Peace</option>
                    <option value="G7 - Patience">G7 - Patience</option>
                    <option value="G7 - Faith">G7 - Faith</option>
                    <option value="G7 - Charity">G7 - Charity</option>
                    <option value="G7 - Honesty">G7 - Honesty</option>
                    <option value="G7 - Courage">G7 - Courage</option>
                    <option value="G8 - Aguinaldo">G8 - Aguinaldo</option>
                    <option value="G8 - Aquino">G8 - Aquino</option>
                    <option value="G8 - Ramos">G8 - Ramos</option>
                    <option value="G8 - Macapagal">G8 - Macapagal</option>
                    <option value="G8 - Osmeña">G8 - Osmeña</option>
                    <option value="G8 - Marcos">G8 - Marcos</option>
                    <option value="G8 - Garcia">G8 - Garcia</option>
                    <option value="G8 - Roxas">G8 - Roxas</option>
                    <option value="G8 - Quirino">G8 - Quirino</option>
                    <option value="G8 - Magsaysay">G8 - Magsaysay</option>
                    <option value="G9 - Sapphire">G9 - Sapphire</option>
                    <option value="G9 - Jade">G9 - Jade</option>
                    <option value="G9 - Topaz">G9 - Topaz</option>
                    <option value="G9 - Ruby">G9 - Ruby</option>
                    <option value="G9 - Amethyst">G9 - Amethyst</option>
                    <option value="G9 - Pearl">G9 - Pearl</option>
                    <option value="G9 - Emerald">G9 - Emerald</option>
                    <option value="G9 - Diamond">G9 - Diamond</option>
                    <option value="G10 - Pasteur">G10 - Pasteur</option>
                    <option value="G10 - Franklin">G10 - Franklin</option>
                    <option value="G10 - Galileo">G10 - Galileo</option>
                    <option value="G10 - Dalton">G10 - Dalton</option>
                    <option value="G11 STEM - Alipon">G11 STEM - Alipon</option>
                    <option value="G11 HUMSS - Arevalo">G11 HUMSS - Arevalo</option>
                    <option value="G11 HUMSS - Tabon">G11 HUMSS - Tabon</option>
                    <option value="G11 HUMSS - Batacan">G11 HUMSS - Batacan</option>
                    <option value="G11 AQUACULTURE - Ignacio">G11 AQUACULTURE - Ignacio</option>
                    <option value="G11 EIM - Rosales">G11 EIM - Rosales</option>
                    <option value="G11 EIM - Tardo">G11 EIM - Tardo</option>
                    <option value="G11 EIM - Sumibcay">G11 EIM- Sumibcay</option>
                    <option value="G11 HOME - Bazan">G11 HOME ECONOMICS - Bazan</option>
                    <option value="G11 HOME - Resurrection">G11 HOME ECONOMICS - Resurrection</option>
                    <option value="G11 FFP - Masuhod">G11 FFP - Masuhod</option>
                    <option value="G11 FFP - Cababat">G11 FFP - Cababat</option>
                    <option value="G12 STEM - Catimbang">G12 STEM - Catimbang</option>
                    <option value="G12 HUMSS - Fabian">G12 HUMSS - Fabian</option>
                    <option value="G12 HUMSS - Torralba">G12 HUMSS - Torralba</option>
                    <option value="G12 AQUACULTURE - Castro">G12 AQUACULTURE - Castro</option>
                    <option value="G12 EIM - Tagnawa">G12 EIM - Tagnawa</option>
                    <option value="G12 HOME ECONOMICS - Joven">G12 HOME ECONOMICS - Joven</option>
                    <option value="G12 HOME ECONOMICS - Guevarra">G12 HOME ECONOMICS - Guevarra</option>
                    <option value="G12 FFP - Naputo">G12 FFP - Naputo</option>
                  </select>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="schoolId" type="text" id="schoolId" class="form-control" required/>
                    <label class="form-label" for="schoolId">School ID</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="bloodPressure" type="text" id="bloodPressure" class="form-control" required/>
                    <label class="form-label" for="bloodPressure">BloodPressure</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="temperature" type="text" id="temperature" class="form-control" required/>
                    <label class="form-label" for="temperature">Temperature</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="recommendation" type="text" id="recommendation" class="form-control" required/>
                    <label class="form-label" for="recommendation">Recommendation</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="medication" type="text" id="medication" class="form-control" required/>
                    <label class="form-label" for="medication">Medication</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <textarea name="description" class="form-control" id="description" rows="4" required></textarea>
                    <label class="form-label" for="description">Description</label>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary w-100 mb-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>