<div class="container-fluid">

    <button 
      type="button" 
      onclick="clearForm('patientForm', '/patients')" 
      class="btn btn-primary" 
      data-mdb-toggle="modal" 
      data-mdb-target="#createPatientModal">
      Create Patient
    </button>

  <div 
    class="modal modal-lg fade" 
    id="createPatientModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Patient Form</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="POST" action="/patients" id="patientForm">
            <input name="patientId" type="hidden" id="patientId"/>
            <input name="studentId" type="hidden" id="studentId"/>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="firstName" type="text" id="firstName" class="form-control" required/>
                    <label class="form-label" for="firstname">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="lastName" type="text" id="lastName" class="form-control" required/>
                    <label class="form-label" for="lastName">Last name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="middleName" type="text" id="middleName" class="form-control" required/>
                    <label class="form-label" for="middleName">Middle name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <select name="gradeLevel" class="select form-select-btn" required >
                    <option value="" disabled selected hidden>Grade Level</option>
                    <option value="Grade 7<">Grade 7</option>
                    <option value="Grade 8">Grade 8</option>
                    <option value="Grade 9">Grade 9</option>
                    <option value="Grade 10<">Grade 10</option>
                    <option value="Grade 11">Grade 11</option>
                    <option value="Grade 12">Grade 12</option>
                  </select>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col form-col">
                  <select name="section" class="select form-select-btn">
                    <option value="" disabled selected hidden>Section</option>
                    <option value="1940">G7 - Humility</option>
                    <option value="1940">G7 - Kindness</option>
                    <option value="1940">G7 - Peace</option>
                    <option value="1940">G7 - Patience</option>
                    <option value="1940">G7 - Faith</option>
                    <option value="1940">G7 - Charity</option>
                    <option value="1940">G7 - Honesty</option>
                    <option value="1940">G7 - Courage</option>
                    <option value="1940">G8 - Aguinaldo</option>
                    <option value="1940">G8 - Aquino</option>
                    <option value="1940">G8 - Ramos</option>
                    <option value="1940">G8 - Macapagal</option>
                    <option value="1940">G8 - Osmeña</option>
                    <option value="1940">G8 - Marcos</option>
                    <option value="1940">G8 - Garcia</option>
                    <option value="1940">G8 - Roxas</option>
                    <option value="1940">G8 - Quirino</option>
                    <option value="1940">G8 - Magsaysay</option>
                    <option value="1940">G9 - Sapphire</option>
                    <option value="1940">G9 - Jade</option>
                    <option value="1940">G9 - Topaz</option>
                    <option value="1940">G9 - Ruby</option>
                    <option value="1940">G9 - Amethyst</option>
                    <option value="1940">G9 - Pearl</option>
                    <option value="1940">G9 - Emerald</option>
                    <option value="1940">G9 - Diamond</option>
                    <option value="1940">G10 - Pasteur</option>
                    <option value="1940">G10 - Franklin</option>
                    <option value="1940">G10 - Galileo</option>
                    <option value="1940">G10 - Dalton</option>
                    <option value="1940">G11 STEM - Alipon</option>
                    <option value="1940">G11 HUMSS - Arevalo</option>
                    <option value="1940">G11 HUMSS - Tabon</option>
                    <option value="1940">G11 HUMSS - Batacan</option>
                    <option value="1940">G11 AQUACULTURE - Ignacio</option>
                    <option value="1940">G11 EIM - Rosales</option>
                    <option value="1940">G11 EIM - Tardo</option>
                    <option value="1940">G11 EIM- Sumibcay</option>
                    <option value="1940">G11 HOME ECONOMICS - Bazan</option>
                    <option value="1940">G11 HOME ECONOMICS - Resurrection</option>
                    <option value="1940">G11 FFP - Masuhod</option>
                    <option value="1940">G11 FFP - Cababat</option>
                    <option value="1940">G12 STEM - Catimbang</option>
                    <option value="1940">G12 HUMSS - Fabian</option>
                    <option value="1940">G12 HUMSS - Torralba</option>
                    <option value="1940">G12 AQUACULTURE - Castro</option>
                    <option value="1940">G12 EIM - Tagnawa</option>
                    <option value="1940">G12 HOME ECONOMICS - Joven</option>
                    <option value="1940">G12 HOME ECONOMICS - Guevarra</option>
                    <option value="1940">G12 FFP - Naputo</option>
                  </select>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="schoolId" type="text" id="schoolId" class="form-control" />
                    <label class="form-label" for="schoolId">School ID</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="recommendation" type="text" id="recommendation" class="form-control" required/>
                    <label class="form-label" for="recommendation">Recommendation</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="medication" type="text" id="medication" class="form-control" />
                    <label class="form-label" for="medication">Medication</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <textarea name="description" class="form-control" id="description" rows="4" required></textarea>
                    <label class="form-label" for="description">Description</label>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary w-100 mb-4">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>