<div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" onclick="clearForm('patientForm', '/patients')" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#createPatientModal">
      Create Patient
    </button>

    <!-- Modal -->
    <div class="modal modal-lg fade" id="createPatientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Patient Form</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/patients" id="patientForm">
              <input name="patientId" type="hidden" id="patientId"/>
              <input name="studentId" type="hidden" id="studentId"/>
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="firstName" type="text" id="firstName" class="form-control" required/>
                    <label class="form-label" for="firstname">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="lastName" type="text" id="lastName" class="form-control" required/>
                    <label class="form-label" for="lastName">Last name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="middleName" type="text" id="middleName" class="form-control" required/>
                    <label class="form-label" for="middleName">Middle name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input name="grade" type="text" id="grade" class="form-control" />
                      <label class="form-label" for="grade">Grade</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="section" type="text" id="section" class="form-control" />
                      <label class="form-label" for="section">Section</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="schoolId" type="text" id="schoolId" class="form-control" />
                      <label class="form-label" for="schoolId">School ID</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input name="recommendation" type="text" id="recommendation" class="form-control" required/>
                      <label class="form-label" for="recommendation">Recommendation</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="medication" type="text" id="medication" class="form-control" />
                      <label class="form-label" for="medication">Medication</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <textarea name="description" class="form-control" id="description" rows="4" required></textarea>
                      <label class="form-label" for="description">Description</label>
                    </div>
                  </div>
                </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-blockmb-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>