
  
  <!-- Modal -->
<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Student Profile</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <div class="container modal-container">
                    <div class="student-identity">
                        <div class="modal-image">
                            <img src="/img/10027585.jpg" alt="">
                        </div>
                        <div class="modal-info">
                            <form class="modal-form" id="profileForm">
                                <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                    <input type="text" id="firstNameProfile" name="firstName" value =" " class="form-control" disabled/>
                                    <label class="form-label" for="firstNameProfile">Firstname</label>
                                </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="lastNameProfile" class="form-control" value=" " disabled/>
                                        <label class="form-label" for="lastNameProfile">Lastname</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input type="text" id="middleNameProfile" name="middleName" class="form-control"value=" "disabled/> 
                                        <label class="form-label" for="middleNameProfile">Middlename</label>
                                    </div>
                                </div>
                                </div>
                            </form>
                            <form class="modal-form">
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" name="schoolId" id="schoolIdProfile" class="form-control" value=" " disabled />
                                            <label class="form-label" for="middleNameProfile">School ID</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" name="GradeLevel" id="gradeProfile" class="form-control" value=" " disabled/>
                                            <label class="form-label" for="middleNameProfile">Grade Level</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" name="section" id="sectionProfile" class="form-control" value="  " disabled/>
                                            <label class="form-label" for="sectionProfile">Section</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form class="modal-form">
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input type="text" name="address" id="addressProfile" class="form-control" value="  " disabled/>
                                            <label class="form-label" for="addressProfile">Address</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="student-details">
                        <div class="student-details-title">
                            <h5>Medical Records</h5>
                        </div>
                        <a href="#" id="printStudentRecord" class="mb-3 btn btn-primary float-right">Print student findings</a>
                        <div class="modal-table">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Year Level</th>
                                    <th>Action</th>
                                  </tr>
                                </thead>
                                <tbody id="studentMedicalRecords">
                                  <tr>
                                    <td data-label="Date">1</th>
                                    <td data-label="Grade>">1</td>
                                    <td data-label="Section">Otto</td>
                                    <td data-label="Medical Record">
                                        <a class="btn btn-primary btn-sm  m-1" href="/students/record">
                                            <i class="fas fa-eye"></i>
                                            View
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>