<div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
      Create Student
    </button>
    

    <!-- Modal -->
    <div class="modal modal-lg fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">SCHOOL HEALTH EXAMINATION CARD</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/students">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="firstname" name="firstName" class="form-control" required/>
                    <label class="form-label" for="firstname">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="lastname" name="lastName" class="form-control" required/>
                    <label class="form-label" for="lastname">Last name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="middlename" name="middleName" class="form-control" required/>
                    <label class="form-label" for="middlename">Middle name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input name="schoolId" type="text" id="lrn" class="form-control" required/>
                    <label  class="form-label" for="lrn">LRN</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="schoolId" type="text" id="lrn" class="form-control" required/>
                    <label  class="form-label" for="lrn">School ID</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input name="gender" type="text" id="gender" class="form-control" required/>
                    <label class="form-label" for="gender">Gender</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input name="grade" type="text" id="lrn" class="form-control" required/>
                      <label class="form-label" for="lrn">Grade</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="section" type="text" id="schoolId" class="form-control" required/>
                      <label class="form-label" for="schoolId">Section</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input name="contactNum" type="text" id="contactNum" class="form-control" required/>
                      <label class="form-label" for="contactNum">Contact No.</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="contactPersonNum"  type="text" id="contactPersonNum" class="form-control" required/>
                      <label class="form-label" for="contactPersondNum">Parent Contact No.</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="DoB-label">
                      <label for="">Date of Birth</label>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="month" type="text" id="month" class="form-control" required/>
                      <label class="form-label" for="month">Month</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="day" type="number" id="day" class="form-control" required/>
                      <label class="form-label" for="day">Day</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input name="year" type="number" id="year" class="form-control" required/>
                      <label class="form-label" for="year">Year</label>
                    </div>
                  </div>
                </div>
              <div class="form-outline mb-4">
                <input name="birthPlace" type="text" id="birthPlace" class="form-control" required/>
                <label class="form-label" for="birthPlace">Birthplace</label>
              </div>
            
              <div class="form-outline mb-4">
                  <input name="contactPerson" type="text" id="contactPerson" class="form-control" required/>
                  <label class="form-label" for="contactPerson">Parent/Guardian</label>
                </div>
                <div class="form-outline mb-4">
                  <input name="address" type="text" id="address" class="form-control" required/>
                  <label class="form-label" for="address">Address</label>
                </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>