<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
    <i class="fas fa-eye"></i> 
    View
  </button>
  
  <!-- Modal -->
<div 
    class="modal fade" 
    id="exampleModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true"
  >
    <div 
        class="modal-dialog modal-lg"
    >
        <div 
            class="modal-content"
        >
            <div 
                class="modal-header"
                >
                <h5 
                    class="modal-title" 
                    id="exampleModalLabel"
                    >
                        Student Profile
                </h5>
                <button 
                    type="button" 
                    class="btn-close"
                    data-mdb-dismiss="modal" 
                    aria-label="Close"
                    >
                </button>
            </div>
            <div class="modal-body">
                <div class="container modal-container">
                    <div class="student-identity">
                        <div class="modal-image">
                            <img src="/img/10027585.jpg" alt="">
                        </div>
                        <div class="modal-info">
                            <form class="modal-form">
                                <div class="row mb-4">
                                <div class="col">
                                    <div class="form-outline">
                                    <input type="text" id="form3Example1" class="form-control" value="Jose" disabled/>
                                    <label class="form-label" for="form3Example1">First name</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input 
                                            type="text" 
                                            id="form3Example2" 
                                            class="form-control" 
                                            value="Rizal" 
                                            disabled
                                        />  
                                        <label 
                                            class="form-label" 
                                            for="form3Example2">
                                                Last name
                                        </label>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-outline">
                                        <input 
                                            type="text" 
                                            id="form3Example2" 
                                            class="form-control" 
                                            value="Manalo" 
                                            disabled
                                        />
                                        <label 
                                            class="form-label" 
                                            or="form3Example2">
                                                Middle name
                                        </label>
                                    </div>
                                </div>
                                </div>
                            </form>
                            <form class="modal-form">
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input 
                                                type="number" 
                                                id="form3Example2" 
                                                class="form-control"
                                                value="048295" disabled
                                            />
                                            <label 
                                                class="form-label" 
                                                for="form3Example2">
                                                    LRN
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input 
                                                type="text" 
                                                id="form3Example2" 
                                                class="form-control" 
                                                value="Grade 8" 
                                                disabled
                                                />
                                            <label 
                                            class="form-label" 
                                            for="form3Example2">
                                                Year Level
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-outline">
                                            <input 
                                                type="text" 
                                                id="form3Example2" 
                                                class="form-control" 
                                                value="Manladen" 
                                                disabled
                                            />
                                            <label 
                                                class="form-label" 
                                                for="form3Example2">
                                                    Section
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form class="modal-form">
                                <div class="row mb-4">
                                    <div class="col">
                                        <div class="form-outline">
                                            <input 
                                                type="text" 
                                                id="form3Example2" 
                                                class="form-control" 
                                                value="Recodo,Zamboanga City" 
                                                disabled
                                            />
                                            <label 
                                                class="form-label" 
                                                for="form3Example2">
                                                    Address
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr>
                    <div class="student-details">
                        <div class="student-details-title">
                            <h5>Details</h5>
                        </div>
                        <div class="modal-table">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Year Level</th>
                                    <th>Section</th>
                                    <th>Medical Record</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td data-label="Date">1</th>
                                    <td data-label="Year>">Mark</td>
                                    <td data-label="Section">Otto</td>
                                    <td data-label="Medical Record">
                                        <a class="btn btn-primary btn-sm m-1" href="/students/record">
                                            <i class="fas fa-eye"></i>
                                                View
                                        </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td data-label="Date">2</th>
                                    <td data-label="Year">Jacob</td>
                                    <td data-label="Section">Thornton</td>
                                    <td data-label="Medical Record">
                                        <a class="btn btn-primary btn-sm m-1" href="/students/record">
                                            <i class="fas fa-eye"></i>
                                                View
                                        </a>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td data-label="Date">3</th>
                                    <td data-label="Year">Larry the Bird</td>
                                    <td data-label="Section">@twitter</td>
                                    <td data-label="Medical Record">
                                        <a class="btn btn-primary btn-sm m-1" href="/students/record">
                                            <i class="fas fa-eye"></i>
                                                View
                                        </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>