<div class="container-fluid">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-mdb-toggle="modal" data-mdb-target="#exampleModal">
      Create Student
    </button>
    

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">SCHOOL HEALTH EXAMINATION CARD</h5>
            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="firstname" class="form-control" />
                    <label class="form-label" for="firstname">First name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="lastname" class="form-control" />
                    <label class="form-label" for="lastname">Last name</label>
                  </div>
                </div>
                <div class="col">
                  <div class="form-outline">
                    <input type="text" id="middlename" class="form-control" />
                    <label class="form-label" for="middlename">Middle name</label>
                  </div>
                </div>
              </div>
              <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">Grade</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="schoolId" class="form-control" />
                      <label class="form-label" for="schoolId">Section</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">School ID</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="schoolId" class="form-control" />
                      <label class="form-label" for="schoolId">Gender</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="lrn" class="form-control" />
                      <label class="form-label" for="lrn">Contact No.</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="schoolId" class="form-control" />
                      <label class="form-label" for="schoolId">Parent Contact No.</label>
                    </div>
                  </div>
                </div>
                <div class="row mb-4">
                  <div class="DoB-label">
                      <label for="">Date of Birth</label>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="text" id="month" class="form-control" />
                      <label class="form-label" for="month">Month</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="number" id="date" class="form-control" />
                      <label class="form-label" for="date">Date</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                      <input type="number" id="year" class="form-control" />
                      <label class="form-label" for="year">Year</label>
                    </div>
                  </div>
                </div>
            
              <div class="form-outline mb-4">
                <input type="email" id="birthPlace" class="form-control" />
                <label class="form-label" for="birthPlace">Birthplace</label>
              </div>
            
              <div class="form-outline mb-4">
                  <input type="text" id="parentGuardian" class="form-control" />
                  <label class="form-label" for="parentGuardian">Parent/Guardian</label>
                </div>
                <div class="form-outline mb-4">
                  <input type="text" id="address" class="form-control" />
                  <label class="form-label" for="address">Address</label>
                </div>
              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>