body{
  max-height: 100vh;
}
.form-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #000;
  }
  .form-card-title{
    margin-top: 1.5rem;
    color: #000;
    outline: solid 2px #000;
    text-align: center;
  }
  .form-title{
    font-size: 0.8em;
    text-align: center;
  }
  .form-logo > img{
    display: block;
    max-width: 6rem;
    padding: 1rem;
  }
  .header-content{
    display: flex;
    gap: 5rem;
  }
  .header-content > section{
    width: 50%;
  }

  .school-health-form{
    width: 100%;
  }
  .school-form{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 6rem;
  }
  /* -----------------NAME -------------------*/
  .nameList{
    margin-top: 1rem;
    width: 100%;
  }
  .nameField{
    display: flex;
    flex-direction: row;
  }
  .nameTitle{
    padding-right: 1rem;
  }
  .name-field{
    width: 9rem;
    border: none;
    border-bottom: 2px solid #000;
  }
  .nameDiv{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  /* ---------------------NAME-------------------- */
  /* ---------------------LRN-------------------- */
  .lrnList{
    margin-top: 1rem;
    width: 100%;
  }
  .lrnField{
    display: flex;
    flex-direction: row;
  }
  .lrnTitle{
    padding-right: 1rem;
  }
  .lrn-field{
    border: none;
    border-bottom: 2px solid #000;
  }
  /* ---------------------LRN-------------------- */
  /* ---------------------DOB-------------------- */
  .dobList{
    margin-top: 1rem;
    width: 100%;
  }
  .dobField{
    display: flex;
    flex-direction: row;
  }
  .dobTitle{
    min-width: 7rem;
    padding-right: 1rem;
  }
  .dob-field{
    width: 8rem;
    border: none;
    border-bottom: 2px solid #000;  }
  .dobDiv{
    display:flex;
    flex-direction:column;
    align-items: center;
  }
  /* ---------------------DOB-------------------- */
  /* ---------------------Birtthplace-------------------- */
  .bpList{
    margin-top: 1rem;
    width: 100%;
  }
  .bpField{
    display: flex;
    flex-direction: row;
  }
  .bpTitle{
    padding-right: 1rem;
  }
  .bp-field{
    width: 25.5rem;
    border: none;
    border-bottom: 2px solid #000;  
  }
  /* ---------------------Birthplace-------------------- */
  /* ---------------------PARENT-------------------- */
  .parentList{
    margin-top: 1rem;
    width: 100%;
  }
  .parentField{
    display: flex;
    flex-direction: row;
  }
  .parentTitle{
    padding-right: 1rem;
  }
  .parent-field{
    width: 23rem;
    border: none;
    border-bottom: 2px solid #000;
  }
  /* ---------------------PARENT-------------------- */
  /* ---------------------address-------------------- */
  .addressList{
        margin-top: 1rem;
    width: 100%;
  }
  .addressField{
    display: flex;
    flex-direction: row;
  }
  .addressTitle{
    padding-right: 1rem;
  }
  .address-field{
    width: 73rem;
    border: none;
    border-bottom: 2px solid #000;
  }
  /* ---------------------address-------------------- */
    /* ---------------------LRN-------------------- */
    .idList{ 
      margin-top: 1rem;
      width: 100%;
    }
    .idField{
      display: flex;
      flex-direction: row;
    }
    .idTitle{
      text-align: center;
      width: 7rem;
      padding-right: 1rem;
    }
    .id-field{
      width: 15rem;
      border: none;
      border-bottom: 2px solid #000;
    }
    /* ---------------------LRN-------------------- */
    /* ---------------------LRN-------------------- */
    .regionList{ 
      margin-top: 5.3rem;
      width: 100%;
    }
    .regionField{
      display: flex;
      flex-direction: row;
    }
    .regionTitle{
      padding-right: 1rem;
    }
    .region-field{
      text-align: center;
      width: 17rem;
      border: none;
      border-bottom: 2px solid #000;
    }
    /* ---------------------LRN-------------------- */
    /* ---------------------LRN-------------------- */
    .divisionList{ 
      margin-top: 3rem; 
      width: 100%;
    }
    .divisionField{
      display: flex;
      flex-direction: row;
    }
    .divisionTitle{
      padding-right: 1rem;
    }
    .division-field{
      text-align: center;
      width: 17rem;
      border: none;
      border-bottom: 2px solid #000;
    }
    /* ---------------------LRN-------------------- */
    /* ---------------------LRN-------------------- */
    .phoneList{ 
      margin-top: 1rem;
      width: 100%;
    }
    .phoneField{
      display: flex;
      flex-direction: row;
    }
    .phoneTitle{
      width: 10rem;
      padding-right: 1rem;
    }
    .phone-field{
      width: 15rem;
      border: none;
      border-bottom: 2px solid #000;
    }
    /* ---------------------LRN-------------------- */
  .left{
    width: 50%;
  }
  .right{
    width: 50%;
  }
  table,
  tr,
  td{
    outline: 1px solid #000;
    color: #000;
    padding: none;
    margin: none;
    font-size: 0.9em;
  }
  .form-table{
    width: 100%;
  }