*{   
  padding: 0;   
  margin: 0;   
  border: none;   
  box-sizing: border-box; 
} 
html,body{   
  max-height: 100%;
  max-width: 100%;
} 
#login-container{
  min-height: 100vh;   
  display: flex;   
  justify-content: center;   
  align-items: center; 
}
#login-card{   
  display: flex;   
  flex-direction: row; 
} 
.login-img{   
  margin: auto;   
  max-width: 50vw;   
  text-align: center;   
  padding: 2rem; 
} 
.login-img > img{   
  max-width: 100%;   
  display: block; 
} 
#login-card-body{   
  padding: 2rem;   
  margin: auto; 
} 
.login-logo{   
  display: flex;   
  justify-content: center;   
  align-items: center;   
  max-width: 15rem; 
} 
.desktop-logo{   
  max-width: 100%;   
  display: block; 
} 
.mobile-logo{   
  display: none; 
} 
.fixed-div{   
  max-width: 45rem;   
  border-top-right-radius: 5rem;   
  border-bottom-right-radius: 5rem;   
  box-shadow: 5px 10px 18px #888888; 
}
 @media not all and (min-width: 1020px){   
  .login-img{     
    display: none;   
  }   
  .desktop-logo{     
    display: none;   
  }   
  .mobile-logo{     
    display: block;     
    max-width: 100%;   
  } 
} 
@media screen and (max-width: 1536px){   
  .login-img > img{     
    max-width: 100%;     
    display: block;   
  }   
  .fixed-div{     
    max-width: 45rem;     
    display: flex;     
    justify-content: center;     
    align-items: center;   
  }
}
#region, #division{
  text-align: center;
}


body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}
.th{
  cursor: pointer;
}

.fa-arrow-up:hover{
  rotate: 3.1416rad;
}