*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}

/* ----- Sidebar ----- */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 240px;
  z-index: 9999;
  background-color: #0A2647;
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar-logo{
  padding: 2rem;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #F9F9F9;
}
.sidebar-logo > img{
  display: block;
  max-width: 10rem;
  padding: 1rem;
}
.navbar{
  box-shadow: none;
  background-color: #0A2647;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-button{
  color: #F9F9F9;
}
.sidebar-button{
  background-color: #0A2647;
  border-bottom: 1px solid #F9F9F9;
  color: #F9F9F9;
}
.sidebar-button:hover{
  background-color:  #F9F9F9;
  color: #0A2647;
  }
/* ----- MAIN CONTENT ----- */
.main-container{
  margin-top: 58px;
}
.dashboard{
  padding: 3rem;
  padding-top: 1rem;
}
.dashboard-counter{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-counter{
  min-width: 25%;
  margin-bottom: 2rem;
  background-color: #002B5B;
  color: #F9F9F9;
}
.card-counter-body{
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}
.dashboard-counter-content{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  min-width: 50%;
}
.dashboard-logo{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 30%;
}
.dashboard-logo > i {
  font-size: 3em;
}
.student,
.medicalRecord,
.patient,
.visitor{
  padding: 2rem;
}
.create-patient-button{
  display: flex;
  flex-direction: row;
}
.search-button{
  padding-top: 1.5rem;
}
.student-list,
.medicalRecord-list,
.patient-list,
.visitor-list{
  padding-top: 2rem;
}
.search{
  max-width: 20rem;
}
.student-page,
.medicalRecord-page,
.patient-page,
.visitor-page{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.table{
	width: 100%;
	border-collapse: collapse;
}

.table td,.table th{
  padding:12px 15px;
  text-align: center;
  font-size:16px;
}

.table tbody tr:nth-child(even){
	background-color: #f5f5f5;
}
/* ------ LOGIN DESIGN ------ */
.login-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: transparent;
  max-width: 100%;
  min-height: 100vh;
}
.login-img {
  max-width: 50rem;
}
.login-img > img{
  display: block;
  max-width: 100%;
}
.login-card > .card{
  box-shadow: none;
  min-height: 15rem;
  min-width: 25rem;
}
.card-login-logo{
  max-width: 15rem;
  padding: 2rem;
}
.card-login-logo > img{
  display: block;
  max-width: 100%;
}
.login-btn{
  background-color: #0824a2;
  color: #f5f5f5;
}
.login-btn:hover{
  background-color: #f5f5f5;
  color: #0824a2;
}
.form-select-btn{
  padding: 0.4rem;
  border-radius: 5px;
  outline: 1px solid #D3D3D3;
  min-width: 100%;
  color: #808080;
}
.form-select-btn:focus{
  outline:  2px solid #0275d8;
}
.form-btn-group{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
.findings-student-btn{
  margin-bottom: 1.5rem;
}
.student-identity{
  display: flex;
  flex-direction: row;
}
.modal-info{
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-image > img {
  display: block;
  max-width: 12rem;
  padding: 1rem;
}
.student-details-title{
  display: flex;
  justify-content: flex-start;
}
.space{
  margin-left: 1rem;
}
.landing-page-nav{
  padding: 1rem;
}
.landing-page-nav > img{
  display: block;
  max-width: 6rem;
  padding: 1rem;
}
.content-logo > img{
  display: block;
  max-width: 32rem;
  padding: 1rem;
}
.landing-page-main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.footer-div{
  margin: 0;
  padding: 0;
  color: #D3D3D3;
}
.main-slogan{
  padding: 5rem;
}
.main-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #002B5B;
  position: fixed;
  right: 0;
  bottom: 0;
}
.footer-card-1{
  padding: 1rem;
}
.footer-card-2{
  padding: 1rem;
  max-width: 60%;
}
.main-names{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
/* ----- MEDIA RESPONSIVENESS ------ */
@media only screen and (min-width: 991.98px) {
  .main-container{
    padding-left: 240px;
  }
  .dashboard-counter{
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }
  .card-counter{
    min-width: 30%;
    margin: 0;
  }

}
@media not all and (min-width: 991.98px){
	.table thead{
		display: none;
	}

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
  .table tr,
  .table th{
    border:1px solid #ddd;
  }
  .card-counter{
    min-width: 50%;
    margin-bottom: 2rem;
  }
  .login-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-img > img{
    display: none;
  }
  .login-card > .card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-height: 5rem;
    min-width: 15rem;
  }
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 240px;
    z-index: 600;
    background-color: #0A2647;
  }
  .navbar{
    box-shadow: none;
    background-color: #0A2647;
  }
  .student-form, 
  .form-row{
    display: flex;
    flex-direction: column;
  }
  .form-row{
    gap: 0.7rem;
  }
  .form-nav{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .form-student-btn{
    max-width: 5rem;
  }
  .student-identity{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-info{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .modal-form > .row{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
}
