<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
    <div class="dashboard">
        <div class="dashboard-tittle">
            <h1>Dashboard</h1>
        </div>
        <div class="dashboard-counter">
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-users"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2>1000</h2>
                    <h5>Enrolled Student</h5>
                </div>
                </div>
            </div>
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-clinic-medical"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2>5</h2>
                    <h5>Patient Today</h5>
                </div>
                </div>
            </div>
        </div>
        <div class="dashboard-counter">
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-bed"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2>30</h2>
                    <h5>Overall Patient</h5>
                </div>
                </div>
            </div>
            <div class="card card-counter">
                <div class="card-body card-counter-body">
                <div class="dashboard-logo">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="dashboard-counter-content">
                    <h2>10</h2>
                    <h5>Visitor</h5>
                </div>
                </div>
            </div>
        </div>
        <div class="dashboard-recent pb-4 pt-2">
            <h3>Recently Added</h3>
        </div>
        <%- include('../components/tables/recently-added-student') %>
    </div>
</div>
<%- include('../includes/footer'); %>


