<%- include('../includes/header') %>
<div class="container">
    <header>
        <nav class="landing-page-nav">
            <img src="/img/sidebar-logo.png" alt="Landing Page Logo">
        </nav>
    </header>
    <main class="landing-page-main">
        <div class="main-content">
            <article class="main-slogan">
                <h1>Clinic Management System</h1>
                <p>Giving medical assistance to our student is our main priority.</p>
            </article>
        </div>
        <div class="main-content">
            <div class="content-logo">
                <img src="/img/undraw_medicine_b1ol.png" alt="">
            </div>
        </div>
    </main>
</div>
<footer class="container-fluid footer-div">
    <nav class="main-footer">
        <div class="footer-card-1">
            <h3>Researchers</h3>
            <div class="main-names">
                <p>Archie Arthur M. Amparado</p>
                <p>Mohaiben R. Lahudin</p>  
            </div>
            <div class="main-names">
                <p>Edwin L. Manila</p>
                <p>Abdurazman J. Jamiri</p>
            </div>
        </div>
        <div class="footer-card-2">
            <h3>About Us!</h3>
            <p>Clinic Management system is a Professional Profiling Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of Profiling, with a focus on dependability and Online patient management. We're working to turn our passion for Profiling into a booming.</p>
        </div>
    </nav>
</footer>
<%- include('../includes/footer') %>