<%- include('../includes/header'); %>

<div class="container-flud">
    <%- include('../includes/navbar'); %>
    <%- include('../includes/sidenav'); %>

    <!--Main layout-->
    <div class="main-content">
        <div class="container-flud">

        </div>
    </div>
</div>


<%- include('../includes/footer'); %>


