<%- include('../includes/header'); %>
<div class="container-flud main-container">
  <%- include('../includes/menubar'); %>
      <div class="patient">
        asdasd
      </div>
</div>
  <!--Main layout-->


<%- include('../includes/footer'); %>