<%- include('../includes/header') %>
<div class="container student-form-container">
    <div class="form-tittle mt-3">
        <h1 class="lh-1">Student Medical Record</h1>
        <p class="lh-1">Informations Listed Below.</p>
    </div>
    <div class="form-container">
        <form class="student-form">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4 form-row">
                <div class="DoB-label pb-2">
                    <label for="">Date of Examination</label>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="January" disabled/>
                        <label class="form-label" for="region">Month</label>
                    </div>
                </div>
                  
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="10" disabled/>
                        <label class="form-label" for="region">Date</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="1999" disabled/>
                        <label class="form-label" for="region">Year</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="Grade 10" disabled/>
                        <label class="form-label" for="region">Year Level</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="2021-2022" disabled/>
                        <label class="form-label" for="region">School Year</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="36.5°" disabled/>
                        <label class="form-label" for="region">Temperature/BP</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="region" class="form-control" value="60" disabled/>
                        <label class="form-label" for="region">Heart Rate/Pulse Rate/Respiratory Rate</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="contactNo" class="form-control" value="164.592" disabled />
                        <label class="form-label" for="contactNo">Height (in cm)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="number" id="contactNo" class="form-control" value="75" disabled  />
                        <label class="form-label" for="contactNo">Weight (in kg)</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value=" " disabled  />
                        <label class="form-label" for="contactNo">Nutritional Status(NS)(BM/Wt-for-Age)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value=" " disabled  />
                        <label class="form-label" for="contactNo">Nutritional Status(NS)(Height-for-Age)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Vision Screening using appropriate chart</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value=" " disabled  />
                        <label class="form-label" for="contactNo">Auditory Screening(Tuning Fork)</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Skin/Scalp</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Eyes/Ears/Nose</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Mouth/Throat/Neck</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Lungs//Heart</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Abdomen</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Normal" disabled  />
                        <label class="form-label" for="contactNo">Deformities</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Iron Supplementation</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Deworming</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Pentavalent vaccine" disabled  />
                        <label class="form-label" for="contactNo">Immunization(Specify what kind)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">SBFP Beneficiary</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">4ps Beneficiary</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Menarche</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <textarea class="form-control" id="textAreaExample" rows="4" disabled></textarea>
                        <label class="form-label" for="textAreaExample">Others, specify</label>
                      </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input type="text" id="contactNo" class="form-control" value="Ricky Balboa" disabled  />
                        <label class="form-label" for="contactNo"><strong>Examined by:</strong></label>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <hr>
            <div class="row mb-4 form-row">
                <div class="skin-scalp">
                    <label for="">Skin/Scalp</label>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Normal</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Presence of Lice</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Redness of Skin</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled>
                        <label class="form-check-label" for="flexCheckChecked">White Spots</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Fleaky Skin</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Impetigo/Boil</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Hematoma</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Bruises/Injuries</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Itchiness</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Skin Lessions</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Acne/Pimple</label>
                    </div>
                </div>
                <div class="col"></div>
            </div>
            <hr>
            <div class="row mb-4 form-row">
                <div class="skin-scalp">
                    <label for="">Eye/Ear/Nose</label>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Normal</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Stye</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Eye Redness</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Ocular Misalignment</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Pale Conjunctiva</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Ear discharge</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Impacted cerumen</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Mucus discharge</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">

                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Nose Bleeding(Epistexis)</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Eye discharge</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Matted Eyelashes</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" rows="4" disabled></textarea>
                            <label class="form-label" for="textAreaExample">Others, specify</label>
                          </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mb-4 form-row">
                <div class="skin-scalp">
                    <label for="">Mouth/Neck/Throat</label>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Normal</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Enlarged tonsils</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Presence of lesions</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Infamed pharynx</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <label class="form-check-label" for="flexCheckChecked">Enlarged lymphnodes</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" disabled/>
                        <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" rows="4" disabled></textarea>
                            <label class="form-label" for="textAreaExample">Others, specify</label>
                          </div>
                    </div>
                </div>

                <div class="col">
                    <div class="col"></div>
                </div>
            </div>
          </form>
    </div>
</div>


<%- include('../includes/footer') %>