<%- include('../includes/header'); %>
<div class="container-flud  main-container">
  <%- include('../includes/menubar'); %>
  
  <!--Main layout-->
    <div class="container-fluid">
      <div class="visitor">
        visitor
      </div>
    </div>
</div>
  <!--Main layout-->


<%- include('../includes/footer'); %>