<%- include('../includes/header'); %>
<div class="container-flud">
  <%- include('../includes/menubar'); %>
  
  <!--Main layout-->
    <div class="container-fluid main-container">
      <div class="item dashboard">
        visitor
      </div>
    </div>
</div>
  <!--Main layout-->


<%- include('../includes/footer'); %>