<%- include('../includes/header') %>
<%- include('../includes/visitorNav') %>
<div class="container student-form-container">
    <div class="form-tittle mt-3">
        <h1>Visitor Form</h1>
        <p>Please fill out the form below.</p>
    </div>
    <div class="form-container">
        <form class="student-form">
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input name="fullname" type="text" id="fullname" class="form-control" required />
                        <label class="form-label" for="firstname">Full name</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input name="date" type="date" id="date" class="form-control" required  />
                        <label class="form-label" for="date">Date</label>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <div class="form-outline">
                        <input name="contactNo" type="text" id="contactNo" class="form-control" required />
                        <label class="form-label" for="contactNo">Contact No.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-outline">
                        <input name="temp" type="text" id="schoolId" class="form-control" required  />
                        <label class="form-label" for="schoolId">Temp</label>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><p>1. Are you Experiencing or did you have any of the following in the past 14 days?</p></strong>
                        <strong><label class="form-label" for="schoolId">A. FEVER</label></strong>
                        <div class=" mx-5 orm-check form-check-inline">
                            <input class="form-check-input" type="radio" name="fever" id="fever" value="true" />
                            <label class="form-check-label" for="fever">Yes</label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="fever" id="inlineRadio2" value="false" />
                            <label class="form-check-label" for="inlineRadio2">No</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">B. COUGH AND COLD</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input name="fever" class="form-check-input" type="radio" value="true" id="flexCheckDefault" required/>
                        <label class="form-label" for="noFever">NO</label>
                        <input name="fever" class="form-check-input" type="radio" value="false" id="noFever"  required />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">C. BODY PAINS</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">D. SORE THROAT</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">E. HEADACHE</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">F. DIARHEA</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">G. LOSS OF TASTE OR SMELL</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><label class="form-label" for="schoolId">H. DIFFICULTY BREATHING</label></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-outline">
                        <strong><p>2. Have you been exposed with a probable or comfirmed COVID-19 case within 1meter and for more than 15minutes for the past 14 days?</p></strong>
                        <label class="form-label space" for="schoolId">YES</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                        <label class="form-label" for="schoolId">NO</label>
                        <input class="form-check-input" type="radio" value="" id="flexCheckDefault" required/>
                    </div>
                </div>
            </div>
            <div class="row mb-4 form-row">
                <div class="col">
                    <strong><p>3. Have you traveled outside the current city/municipality where you reside? if yes, please specify.</p></strong>
                    <div class="form-outline">
                        <input type="text" id="lastname" class="form-control" required  required/>
                        <label class="form-label" for="lastname">If yes specify here</label>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary findings-student-btn w-100">Submit</button>
          </form>
    </div>
</div>
<%- include('../includes/footer') %>