<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>ID No.</th>
        <th>Name</th>
        <th>Grade</th>
        <th>Section</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">348205</p>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Mohaiben R. Lahudin</p>
        </td>
        <td>12</td>
        <td>Manladen</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">190352</p>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Arjhon H. Haraji</p>
        </td>
        <td>8</td>
        <td>Capitan Mampang</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">25317</p>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Patrick John M. Brilantes</p>
        </td>
        <td>12</td>
        <td>Papa P</td>
        <td>
          <button
                  type="button"
                  class="btn btn-link btn-rounded btn-sm fw-bold"
                  data-mdb-ripple-color="dark"
                  >
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">420512</p>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Raphael M. Seseh</p>
        </td>
        <td>8</td>
        <td>Cute junjun</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
              <p class="fw-bold mb-1">620391</p>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Josph Adonis B. Alvarez</p>
        </td>
        <td>10</td>
        <td>Manladen</td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">
            Edit
          </button>
        </td>
      </tr>
    </tbody>
  </table>